@import "tailwindcss";

/* Dark scrollbar */
* {
    /* Firefox*/
    scrollbar-width: auto;
    scrollbar-color: #3a3a3a transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #4a4a4a;
}